<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appinfodb.dao.Info.InfoMapper">
<!-- 查询符合条件的信息，后台-->
<select id="selectInfo" resultType="Info">
SELECT 
	app_info.id AS id,
	softwareName,
	APKName,softwareSize,
	d1.valueName AS flatformName,
	a1.categoryName AS categoryLevel1Name,
	a2.categoryName AS categoryLevel2Name,
	a3.categoryName AS categoryLevel3Name,
	d2.valueName AS statusName,
	downloads,versionNo,versionId,status
FROM app_info 
INNER JOIN data_dictionary AS d1 ON d1.valueId=app_info.flatformId AND d1.typeCode='APP_FLATFORM'
INNER JOIN data_dictionary AS d2 ON d2.valueId = STATUS AND d2.typeCode = 'APP_STATUS'
INNER JOIN  app_category AS a1 ON a1.id=app_info.categoryLevel1
INNER JOIN  app_category AS a2 ON a2.id=app_info.categoryLevel2
INNER JOIN  app_category AS a3 ON a3.id=app_info.categoryLevel3
INNER JOIN app_version ON app_version.id=app_info.versionId
<trim prefix="where" prefixOverrides="and|or">
		
		<if test="softwareName!=null and softwareName!=''">
			and	softwareName=#{softwareName}
		</if>	
		<if test="flatformId!=0">
			and flatformId=#{flatformId}
		</if>
		<if test="categoryLevel1!=0">
			and categoryLevel1=#{categoryLevel1}
		</if>
		<if test="categoryLevel2!=0">
			and categoryLevel2=#{categoryLevel2}
		</if>
		<if test="categoryLevel3!=0">
			and categoryLevel3=#{categoryLevel3}
		</if>
</trim>
			limit #{index},#{pageCount}
</select>

<!-- 查询符合条件总记录数 ,后台 -->
<select id="selectInfoCount" resultType="int" >
SELECT count(1) FROM app_info
INNER JOIN data_dictionary AS d1 ON d1.valueId=app_info.flatformId AND d1.typeCode='APP_FLATFORM'
INNER JOIN appinfodb.data_dictionary AS d2 ON d2.valueId = STATUS AND d2.typeCode = 'APP_STATUS'
INNER JOIN  app_category AS a1 ON a1.id=app_info.categoryLevel1
INNER JOIN  app_category AS a2 ON a2.id=app_info.categoryLevel2
INNER JOIN  app_category AS a3 ON a3.id=app_info.categoryLevel3
INNER JOIN app_version ON app_version.id=app_info.versionId
<trim prefix="where" prefixOverrides="and|or">
		<if test="softwareName!=null and softwareName!=''">
			and	softwareName=#{softwareName}
		</if>
		<if test="flatformId!=0">
			and flatformId=#{flatformId}
		</if>
		<if test="categoryLevel1!=0">
			and categoryLevel1=#{categoryLevel1}
		</if>
		<if test="categoryLevel2!=0">
			and categoryLevel2=#{categoryLevel2}
		</if>
		<if test="categoryLevel3!=0">
			and categoryLevel3=#{categoryLevel3}
		</if>
</trim>
</select>


<!-- 查询符合条件的信息，开发 -->
	<select id="getInfo" resultType="Info">
		SELECT appinfodb.app_info.id AS id,
		softwareName,APKName,softwareSize,status,
		d1.valueName AS flatformName,versionId,
		d2.valueName AS statusName,downloads,
		a1.categoryName AS categoryLevel1Name,
		a2.categoryName AS
		categoryLevel2Name,
		a3.categoryName AS categoryLevel3Name,
		versionId AS
		versionNo
		FROM appinfodb.app_info INNER JOIN appinfodb.data_dictionary
		AS d1 ON
		d1.valueId = flatformId AND d1.typeCode = 'APP_FLATFORM'
		INNER
		JOIN
		appinfodb.data_dictionary AS d2 ON d2.valueId = status AND
		d2.typeCode= 'APP_STATUS'
		INNER JOIN appinfodb.app_category AS a1 ON
		categoryLevel1 = a1.id
		INNER JOIN appinfodb.app_category AS a2 ON
		categoryLevel2 = a2.id
		INNER JOIN appinfodb.app_category AS a3 ON
		categoryLevel3 = a3.id

		<where>
			<if test="softwareName !=null and softwareName !=''">
				and softwareName LIKE CONCAT('%',#{softwareName},'%')
			</if>
			<if test="flatformId !=null and flatformId!=''">
				AND flatformId=#{flatformId}
			</if>
			<if test="status !=null and status!=''">
				AND status=#{status}
			</if>
			<if test="categoryLevel1 !=null and categoryLevel1 !=''">
				AND categoryLevel1=#{categoryLevel1}
			</if>
			<if test="categoryLevel2 !=null and categoryLevel2!=''">
				AND categoryLevel2=#{categoryLevel2}
			</if>
			<if test="categoryLevel3 !=null and categoryLevel3!=''">
				AND categoryLevel3=#{categoryLevel3}
			</if>

		</where>
		limit #{index},#{pageCount}
	</select>

	<!-- 查询符合条件总记录数，开发 -->
	<select id="getInfoCount" resultType="int">
		SELECT count(1) FROM app_info
		<trim prefix="where" prefixOverrides="and|or">
			<if test="status !=null and status!=''">
				AND status=#{status}
			</if>
			<if test="softwareName!=null and softwareName!=''">
				and softwareName LIKE CONCAT('%',#{softwareName},'%')
			</if>
			<if test="flatformId!=0">
				and flatformId=#{flatformId}
			</if>
			<if test="categoryLevel1!=0">
				and categoryLevel1=#{categoryLevel1}
			</if>
			<if test="categoryLevel2!=0">
				and categoryLevel2=#{categoryLevel2}
			</if>
			<if test="categoryLevel3!=0">
				and categoryLevel3=#{categoryLevel3}
			</if>
		</trim>
	</select>
	
<!-- 根据info的id查询info信息，开发 -->
<select id="getInfoById" resultType="Info">
		SELECT app_info.id AS id,
		softwareName,
		APKName,status,versionId,
		softwareSize,
		supportROM,
		interfaceLanguage,
		appInfo,
		logoPicPath,
		d1.valueName AS flatformName,
		d2.valueName AS statusName,
		downloads,
		a1.categoryName AS categoryLevel1Name,
		a2.categoryName AS categoryLevel2Name,
		a3.categoryName AS categoryLevel3Name,
		 versionNo
		FROM app_info 
		INNER JOIN 
			data_dictionary AS d1 ON
			d1.valueId = flatformId AND d1.typeCode = 'APP_FLATFORM'
		INNER JOIN
			data_dictionary AS d2 ON 
			d2.valueId = STATUS AND d2.typeCode= 'APP_STATUS'
		INNER JOIN 
			app_category AS a1 ON
			categoryLevel1 = a1.id
		INNER JOIN 
			app_category AS a2 ON 
			categoryLevel2 = a2.id
		INNER JOIN 
			app_category AS a3 ON 
			categoryLevel3 = a3.id
		INNER JOIN 
			app_version ON 
			app_version.id=app_info.versionId
		WHERE app_info.id=#{id}
</select>

<!-- 根据版本id和info的id查询info信息，后台 -->
<select id="selectInfosByid" resultType="Info" >
SELECT app_info.id as id,
	softwareName,
	APKName,
	supportROM,
	interfaceLanguage,
	softwareSize,
	downloads,
	d1.valueName AS flatformName,
	a1.categoryName AS categoryLevel1Name,
	a2.categoryName AS categoryLevel2Name,
	a3.categoryName AS categoryLevel3Name,
	d2.valueName AS statusName,
	appInfo,versionId
	logoPicPath,STATUS,
	versionId 
	FROM app_info
INNER JOIN data_dictionary AS d1 ON d1.valueId=app_info.flatformId AND d1.typeCode='APP_FLATFORM'
INNER JOIN data_dictionary AS d2 ON d2.valueId = STATUS AND d2.typeCode = 'APP_STATUS'
INNER JOIN  app_category AS a1 ON a1.id=app_info.categoryLevel1
INNER JOIN  app_category AS a2 ON a2.id=app_info.categoryLevel2
INNER JOIN  app_category AS a3 ON a3.id=app_info.categoryLevel3
where app_info.id =#{id} and versionId=#{versionId}
</select>

<!-- 根据info的id修改状态（审核），后台 -->
<update id="changeInfo" >
UPDATE app_info
<set>
		STATUS=#{STATUS}
</set>
<where>
		<if test="id!=0 and id!=''">
			 id=#{id}
		</if>
</where>
</update>

<!-- 添加info信息 ，开发-->
<insert id="addInfo" parameterType="Info" >
INSERT INTO app_info(softwareName,APKName,
	supportROM,interfaceLanguage,softwareSize,
	downloads,flatformId,
	categoryLevel1,categoryLevel2,
	categoryLevel3,appInfo,logoPicPath)
	VALUES(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},
	#{softwareSize},#{downloads},#{flatformId},#{categoryLevel1},
	#{categoryLevel2},#{categoryLevel3},#{appInfo},#{logoPicPath})
</insert>

<!-- 根据APKName查询info信息，开发（添加页面时判断APKName是否为空）-->
<select id="selectByAPK" resultType="Info">
	select * from app_info
	<where>
			<if test="APKName!=null and APKName!=''">
				APKName=#{APKName}
			</if>
	</where>
</select>


<select id="selectInfoByInfoId" resultType="Info">
		SELECT softwareName,APKName,
       supportROM,interfaceLanguage,softwareSize,
       downloads,flatformId,
       categoryLevel1,categoryLevel2,
       categoryLevel3,appInfo,logoPicPath
	FROM app_info
	WHERE id=#{id}
</select>
</mapper>