<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.appinfodb.dao.Version.VersionMapper">
<!-- 根据id查询新版本信息，后台 -->
<select id="selectVersionById" resultType="Version">
SELECT id,versionNo,versionSize,
			versionInfo,downloadLink,
			apkFileName,publishStatus 
			FROM app_version 
<where>
		<if test="id!=0">
				id=#{id}
		</if>
</where>
</select>
<!-- 根据info的id查询，开发 -->
<select id="getVersionById" resultType="Version">
		SELECT app_version.id as
		id,app_info.id as appinfoId,
		appId,versionNo,versionInfo,publishStatus,downloadLink
		,versionSize,app_version.createdBy AS createdBy,
		app_version.creationDate AS creationDate
		,app_version.modifyBy AS
		modifyBy,app_version.modifyDate AS
		modifyDate,apkLocPath,apkFileName,softwareName as appName
		FROM
		app_version
		INNER JOIN app_info ON app_info.versionId = app_version.id
		INNER JOIN data_dictionary AS d1 ON d1.id =app_info.status
		WHERE
		app_info.id=#{appinfoId}
	</select>
	<!-- <resultMap type="Version" id="versio" > <result property="softwareName" 
		column="appName"/> </resultMap> -->

	<!-- 根据条件查询历史版本信息，开发 -->
	<select id="getVersionByInfoIdAndVid" resultType="Version">
		SELECT app_info.id AS
		appinfoId,softwareName as appName,app_version.id AS
		versionId,versionNo,versionSize,`status`,
		publishStatus ,valueName AS publishStatusName,downloadLink,
		apkFileName,app_version.modifyDate as modifyDate
		FROM app_info
		INNER JOIN
		data_dictionary ON data_dictionary.valueId=app_info.status
		INNER JOIN
		app_version ON app_version.appId=app_info.id
		
		WHERE  typeCode='PUBLISH_STATUS'
			<if test="appinfoId !=0">
				AND app_info.id=#{appinfoId}
			</if>
			<if test="versionId !=0">
				AND app_version.id=#{versionId}
			</if>
		
	</select>
</mapper>