<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.App_infoMapper">
<!-- 查询所有app信息 -->
	<select id="getAppInfo" resultType="app_info">
		SELECT appinfodb.app_info.id AS id,
		softwareName,
		APKName,
		softwareSize,
		d1.valueName AS flatformName,	
		d2.valueName AS statusName,
		downloads,
	    a1.categoryName AS categoryLevel1Name,
		a2.categoryName AS categoryLevel2Name,
		a3.categoryName AS categoryLevel3Name,
		versionId AS versionNo
		FROM
		appinfodb.app_info INNER JOIN appinfodb.data_dictionary AS d1 ON d1.valueId = flatformId AND d1.typeCode = 'APP_FLATFORM'
		INNER JOIN appinfodb.data_dictionary AS d2 ON d2.valueId = STATUS AND d2.typeCode = 'APP_STATUS'
		INNER JOIN appinfodb.app_category  AS a1 ON categoryLevel1 = a1.id  
		INNER JOIN appinfodb.app_category  AS a2 ON categoryLevel2 = a2.id 
		INNER JOIN appinfodb.app_category  AS a3 ON categoryLevel3 = a3.id 
		<where>
			<if test="softwareName!=null and softwareName!=''">
				and softwareName like concat('%',#{softwareName},'%')
			</if>
			<if test="status!=0">
				and status=#{status}
			</if>
			<if test="flatformId!=0">
				and flatformId=#{flatformId}
			</if>
			<!-- <if test="categoryLevel1!=0">
				and categoryLevel1
			</if> -->
		</where>
		limit #{index},#{pageSize}
	</select>
	
	<select id="getCountByConcent" resultType="int">
	SELECT count(1) as count  FROM app_info 
	<where>
		<if test="softwareName!=null and softwareName!=''">
				and softwareName like concat('%',#{softwareName},'%')
			</if>
			<if test="status!=0">
				and status=#{status}
			</if>
			<if test="flatformId!=0">
				and flatformId=#{flatformId}
			</if>
	</where>       
	</select>		
</mapper>