<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.dao.BackMapper">

<!-- 根据用户编号查询用户信息 -->
	<select id="getUserByuserCode"  resultType="backend_user">
		SELECT userCode,userName,userPassword,createdBy,modifyBy
		FROM backend_user
 		<trim prefix="where" prefixOverrides="and|or">
 			<if test="userCode != null and userCode !='' ">
 				and userCode = #{userCode}
 			</if>
 			
 		</trim>
	</select>
</mapper>